.questionDiv {
    border-style: solid;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 5px 3px grey;
    background-color: lightgray;
}

.title {
    font-size: 30px;
    font-family: "Times New Roman";
}

.question {
    font-size: 18px;
    font-family: "Times New Roman";
}

.answer {
    width: 95%;
    font-family: "Times New Roman";
    border-radius: 3px;
    box-shadow: 1px 1px 1px grey;
}